<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Loodos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>928CA8F024A8CFD5007ABB70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>928CA90624A8CFD9007ABB70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>928CA91124A8CFD9007ABB70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
